h1 {
  color: red;
  float: none;
}
p {
  color: rgb(82, 93, 243);
  font-size: 20px;
}

#menu ul {
  font-size: 20px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}
#menu li {
  display: inline-block;
  padding: 30px;
}

#menu a {
  /* display: block; */
  padding: 14px 16px;
  text-decoration: none;
}

#menu {
  background-color: #dddddd;
}

span.ingredient {
  color: #f00;
}

table{
  border: 10px solid rgb(243, 74, 74);
  border-collapse: collapse;
  width: 50%;
}

td, th{
  border: 1px solid rgb(9, 99, 21);
  padding: 10px;
  /*vertical-align: middle;*/
  text-align: center;
}

th{
  background-color: #3fc0e7;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}
